body {
   background-color: skyblue
}

h1, h2, h3, h4 {
    font-family: 'Bungee', cursive;
}

.footer {
    margin-top: 40px;
    border-top: 1px solid darkblue
}

form {
    margin-top: 20px;
}

.loader {
    font-family: 'Bungee', cursive;
    text-align: center;
    margin: 20px auto;
    width: 200px;
    display: none
}

.complete {
    text-align: center;
    display: none;
    margin-top: 20px
}

textarea {
    margin-bottom: 20px
}

.submit {
    margin-top: 20px
}